<div class="uploadbutton">
    <form action="/" method="POST" id="img" enctype="multipart/form-data" >
        <input type="file" id="file" name="file" style="display: none">
            <label for="file" id="uploading">
                <i class="material-symbols-outlined">
                    cloud_upload
                </i>
                    </label>
                        <h2 class="translate">
                            Browse File to Upload
                        </h2>
                        <p>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li>{{message}}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                        </p>    
</div>



<div class="wraplogo">
    <img src="/static/images/img_icons.png" alt="logo" class="image-style" title="Non of your Business, Keep Going Bro and Remove Your Pointer From Me">
</div>
<div class="leftbuttompane">
</button> 
<button class="material-symbols-outlined" title="Premium">
star
</button>
<button class="material-symbols-outlined" id="download" title="Download Image">
download
<h>Download</h>
</button>
<button class="material-symbols-outlined" id="send" title="Share">
send
<h>Share</h>
</button>

</div>


<form method="POST" action="{{ url_for('download_image') }}" enctype="multipart/form-data" id="downloadform"></form>