<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="en">
</head>
    <style> 
    </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title id="title">NoT PHOTOSHOT - Editor</title>
        <link rel = "icon" href ="
        /static/images/img_icons.png" 
                type = "image/x-icon">
                <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/style.css')}}">
                <!--<link rel= "stylesheet" href="style.css"> -->
                
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        
    <body>

        <div class="overlaygrain" id="overlaygrain">
            <div class="overlaygrain-content">
                <div class="grainscreen">
                    <div class="grainscreentitle">
                        <a>
                            Add Grain
                        </a>
                    </div>
                        <div class="grainscreenup">
                            <div class="wrapdowngrainscreenpreview">
                                {% if filename %}
                                <img id="image-canvas1" name="image-canvas1" src="{{ url_for('display_image',filename=filename )}}">
                                {% endif %}

                            </div>

                        </div>

                            <div class="downloadscreendown">
                                <div class="downloadscreendownwrap">
                                    <div class="downloadscreendownleft">
                                        <div class="downloadname">
                                        </div>
                                            <div class="downloadokay">
                                                <button class="material-symbols-outlined" title="Close" id="savebtnforgrain">
                                                    done
                                                </button>
                                            </div>
                                    </div>
                                        <div class="downloadscreendownright">
                                            
                                        </div>
                                </div>

                            </div>

                    </div>
                </div>
        </div>






        <div class="overlayblur" id="overlayblur">
            <div class="overlayblur-content">
                <div class="blurscreen">
                    <div class="blurscreentitle">
                        <a>
                            Add Blur
                        </a>
                    </div>
                        <div class="blurscreenup">
                            <div class="wrapdownblurscreenpreview">
                                {% if filename %}
                                <img id="image-canvas1" name="image-canvas1" src="{{ url_for('display_image',filename=filename )}}">
                                {% endif %}

                            </div>

                        </div>

                            <div class="downloadscreendown">
                                <div class="downloadscreendownwrap">
                                    <div class="downloadscreendownleft">
                                        <div class="downloadname">
                                            <input type="range" id="blurslider">
                                        </div>
                                            <div class="downloadokay">
                                                <button class="material-symbols-outlined" title="Close" id="savebtnforblur">
                                                    done
                                                </button>
                                            </div>
                                    </div>
                                        <div class="downloadscreendownright">
                                            
                                        </div>
                                </div>

                            </div>

                    </div>
                </div>
        </div>









        <div class="overlay" id="overlay">
            <div class="overlay-content">
                <div class="downloadscreen">
                    <form action="{{ url_for('download_file', filename=filename) }}" method="POST" id="downloadform">
                        <input type="hidden" id="image_name" name="image_name">
                    <div class="downloadscreentitle">
                        <a>
                            Download
                        </a>
                    </div>
                    <div class="downloadscreenup">
                        <div class="wrapdownloadscreenpreview">
                            <div class="downloadscreenpreview">
                                {% if filename %}
                                <img id="image-canvas1" name="image-canvas1" src="{{ url_for('display_image',filename=filename )}}">
                                {% endif %}
                            </div>
                                <div class="downloadscreenoption">
                                    <div class="downloadscreenoptionwrap">
                                        <div class="downloadformatwrap">
                                            <div class="formatformattext">
                                                <n>Format</n>
                                            </div>
                                            <select id="image_format_selector" name="image_format_selector" title=" Image Format Selector">
                                                <option value=".jpg" id="JPG">jpg</option>
                                                <option value=".png" id="PNG">png</option>
                                                <option value=".jpeg" id="JPEG">jpeg</option>
                                            </select>
                                        </div>
                                            <div class="downloadqualitywrap">
                                                <div class="qualityqualitytext">
                                                    <n>Quality</n>
                                                </div>
                                                <select id="image_quality_selector" name="image_quality_selector" title=" Image Quality Selector">
                                                    <option value="100%" id="fullquality">100%</option>
                                                    <option value="75%" id="almostfull">75%</option>
                                                    <option value="50%" id="halfquality">50%</option>
                                                    <option value="25%" id="badquality">25%</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                        <div class="downloadscreendown">
                            <div class="downloadscreendownwrap">
                                <div class="downloadscreendownleft">
                                    <div class="downloadname">
                                        <input type="text" id="textfilename" name="textfilename" placeholder="Enter File name">
                                    </div>
                                        <div class="downloadokay">
                                            <button class="material-symbols-outlined" title="Premium" id="savebtnfordownload">
                                                done
                                            </button>
                                        </div>
                                </div>
                                    <div class="downloadscreendownright">

                                    </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
          </div>

          <div class="overlay1" id="overlay1">
            <div class="overlay1-content">
                <div class="openscreen">
                    <div class="openscreentitle">
                        <a>
                            Upload Image
                        </a>
                    </div>
                    <div class="openscreenup">
                        <p>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li>{{message}}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                        </p>  

                    </div>
 
                        <div class="openscreendown">
                            <div class="openscreendownwrap">
                                <div class="openscreendownleft">
                                        <form method="POST" action="/upload" enctype="multipart/form-data" id="form_open" >
                                            <div class="wrapopenname">
                                                <input type="file" name="file"  id="fileopen" style="display: none;">
                                                <label for="fileopen" id="fileopenlable">Select Image</label>
                                            </div>

                                            
                                                <div class="openokay">
                                                    <button class="material-symbols-outlined" title="Upload" id="savebtnfordownload"onclick="displayImageHistogram()">
                                                        done
                                                    </button>
                                                </div>
                                        
                                        </form>
                                </div>

                            </div>

                        </div>

                </div>
            </div>
          </div>

        <div class="overlay2" id="overlay2">
            <div class="overlay2-content">
                <div class="infoscreen">
                    <div class="infoscreentitle">
                        <a>
                            Information
                        </a>
                    </div>
                        <div class="infoscreenup">
                            <div class="wrapdowninfoscreenpreview">
                                <ul class="infolist">
                                    <li><b>This application provides users with the necessary tools to edit images.</b></li>
                                    <li><b>Image enhaning</b> is better to use when you finshed editing you image.</li>
                                    <li><b>Image colorizing</b> convert B&W images to colorized image using deep learning models.</li>
                                    <li><b>Image aspict ratio</b> does change the image size with respect to width & height dimentions of the original image.</li>
                                    <li><b>The added text</b> can be styled using the right bottom window to change all necessary decorations.</li>
                                    <li><b>Editing images does not mean you need to pull all slides to the max,</b> be relaxed when you do editing.</li>
                                  </ul>
                                  
                            </div>

                        </div>

                            <div class="downloadscreendown">
                                <div class="downloadscreendownwrap">
                                    <div class="downloadscreendownleft">
                                        <div class="downloadname">
                                        </div>
                                            <div class="downloadokay">
                                                <button class="material-symbols-outlined" title="Close" id="savebtnforinfo">
                                                    done
                                                </button>
                                            </div>
                                    </div>
                                        <div class="downloadscreendownright">

                                        </div>
                                </div>

                            </div>

                    </div>
                </div>
        </div>
        <div class="overlay3" id="overlay3">
            <div class="overlay3-content">
                <div class="premscreen">
                    <div class="premscreentitle">
                        <a>
                            Premium
                        </a>
                    </div>
                        <div class="premscreenup">
                            <div class="wrapdownpremscreenpreview">

                            </div>

                        </div>

                            <div class="downloadscreendown">
                                <div class="downloadscreendownwrap">
                                    <div class="downloadscreendownleft">
                                        <div class="downloadname">
                                        </div>
                                            <div class="downloadokay">
                                                <button class="material-symbols-outlined" title="Premium" id="savebtnforpremium">
                                                    done
                                                </button>
                                            </div>
                                    </div>
                                        <div class="downloadscreendownright">

                                        </div>
                                </div>

                            </div>

                    </div>
                </div>
        </div>
        <div class="overlay4" id="overlay4">
            <div class="overlay4-content">
                <div class="sharescreen">
                    <div class="sharescreentitle">
                        <a>
                            Share Image
                        </a>
                    </div>
                        <div class="sharescreenup">
                            <div class="wrapdownsharescreenpreview">
                                <div class="wrapimagepreshare">
                                    {% if filename %}
                                    <img id="image-canvas1" name="image-canvas1" src="{{ url_for('display_image',filename=filename )}}">
                                    {% endif %}
                                </div>
                                <div class="shareicons">
                                    <div class="wrapshareicons">
                                        <div class="topiconswrapper">
                                            <div class="facebookwrapper">
                                                <button id="facebookbutton" name="facebookbutton" style="display: none;"></button>
                                                <label for="facebookbutton" id="facebookbuttonlable" alt="Facebook share button" onclick="shareImageOnFacebook()" title="Share on Facebook">
                                                    <img id="facebookimage" src="static/images/facebookshare.png">
                                                </label>
                                            </div>
                                                <div class="instagramwrapper">
                                                    <button id="instagrambutton" name="instagrambutton" style="display: none;"></button>
                                                    <label for="instagrambutton" id="instagrambuttonlable" alt="Instagram share button" onclick="shareImageOnInstagram()" title="Share on Instagram">
                                                        <img id="instagramimage" src="static/images/instagramshare.png">
                                                    </label>
                                                </div>
                                                    <div class="twitterwrapper">
                                                        <button id="twitterbutton" name="twitterbutton" style="display: none;"></button>
                                                        <label for="twitterbutton" id="twitterbuttonlable" alt="Twitter share button" onclick="shareImageOnTwitter()" title="Share on Twitter">
                                                            <img id="twitterimage" src="static/images/twittershare.png" >
                                                        </label>
                                                    </div>
                                        </div>
                                            <div class="bottomiconswrapper">
                                                <div class="linkedinwrapper">
                                                    <button id="linkedinbutton" name="linkedinbutton" style="display: none;"></button>
                                                    <label for="linkedinbutton" id="linkedinbuttonlable" alt="LinkedIn share button" onclick="shareImageOnLinkedIn()" title="Share on LinkedIn"> 
                                                        <img id="linkedinimage" src="static/images/linkedinshare.png">
                                                    </label>
                                                </div>
                                                    <div class="pinterestwrapper">
                                                        <button id="pinterestbutton" name="pinterestbutton" style="display: none;"></button>
                                                        <label for="pinterestbutton" id="pinterestbuttonlable" alt="Pinterest share button" onclick="shareImageOnPinterest()" title="Share on Pinterest">
                                                            <img id="pinterestimage" src="static/images/pinterestshare.png">
                                                        </label>
                                                    </div>
                                            </div>

                                    </div>


                                </div>




                            </div>

                        </div>

                            <div class="downloadscreendown">
                                <div class="downloadscreendownwrap">
                                    <div class="downloadscreendownleft">
                                        <div class="downloadname">
                                            <div class="urlplaceholder" id="urlplaceholder">
                                                <p id="imageurl"></p>
                                            </div>
                                        </div>
                                            <div class="downloadokay">
                                                <button class="material-symbols-outlined" title="Premium" id="savebtnforshare">
                                                    done
                                                </button>
                                            </div>
                                    </div>
                                        <div class="downloadscreendownright">

                                        </div>
                                </div>

                            </div>

                    </div>
                </div>
        </div>




        <div class="container">
            <div class="toppane">
                <div class="toppanewrap">
                    <div class="toppanewrapleft">
                        <div class="wraplogo">
                            <a href="/"> 
                                <img src="/static/images/img_icons.png" alt="logo" class="image-style" title="Non of your Business, Keep Going Bro and Remove Your Pointer From Me">
                                            </a>
                        </div>
                    </div>
                        <div class="toppanewrapmiddle">
                            <div class="middlebuttompanewrap">
                                <div class="middlebuttompanewrapopen">
                                    <button class="material-symbols-outlined" id="open" title="Open Image">
                                        folder_open
                                        <h id="topbuttoms">Open</h>
                                    </button>
                                </div>
                                    <div class="middlebuttompanewrapinfo">
                                    <button class="material-symbols-outlined" id="info" title="Information">
                                        help_center
                                        <h id="topbuttoms">Info</h>
                                    </button>
                                </div>

                            </div>
                        </div>
                            <div class="toppanewrapright">
                                <div class="leftbuttompanewrap">
                                    <div class="leftbuttompanewrapstar">
                                        <button class="material-symbols-outlined" id="premium" title="Premium">
                                        star
                                        <h id="topbuttoms">Premium</h>
                                        </button>
                                    </div>
                                        <div class="leftbuttompanewrapdownload">
                                            <button class="material-symbols-outlined" id="download" title="Download Image">
                                                download
                                                <h id="topbuttoms">Download</h>
                                            </button>
                                        </div>
                                            <div class="leftbuttompanewrapsend">
                                                <button class="material-symbols-outlined" id="send" title="Share">
                                                    send
                                                    <h id="topbuttoms">Share</h>
                                                </button>
                                            </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="d-flex">

              <div class="leftpane">
                <div class="wrap-buttoms">
                <button class="btn" id="drag_pan_button" title="Drag">
                    <span class="material-symbols-outlined" id="icon_drag_pan">
                        drag_pan
                        </span>
                </button> 
                <button class="btn" id="crop_rotate_button" title="Crop">
                    <span class="material-symbols-outlined" id="icon_crop_rotate">
                        crop_rotate
                        </span>
                </button> 
                <button class="btn" id="aspect_ratio_button" title="Aspect Ratio">
                    <span class="material-symbols-outlined" id="icon_aspect_ratio">
                        aspect_ratio
                        </span>
                </button> 
                <button class="btn" id="auto_fix_high_button" title="Select Object">
                    <span class="material-symbols-outlined" id="icon_auto_fix_high">
                        auto_fix_high
                        </span>
                </button> 
                <button class="btn" id="format_button" title="Add Text">
                    <span class="material-symbols-outlined" id="icon_format">
                        format_shapes
                        </span>
                </button> 
                <button class="btn" id="brush_button" title="Brush">
                    <span class="material-symbols-outlined" id="icon_brush">
                        brush
                        </span>
                </button>
                <button class="btn" id="eraser_button" title="Eraser">
                    <span class="material-symbols-outlined" id="icon_eraser">
                        pen_size_5
                        </span>
                </button>
                <button class="btn" id="blur_on_button" title="Add Blur">
                    <span class="material-symbols-outlined" id="icon_blur_on">
                        blur_on
                        </span>
                </button> 
                <button class="btn" id="grain_button" title="Add Grain">
                    <span class="material-symbols-outlined" id="icon_grain">
                        grain
                        </span>
                </button> 
                <button class="btn" id="auto_awesome_button" title="Ehnace Image">
                    <span class="material-symbols-outlined" id="icon_auto_awesome">
                        auto_awesome
                        </span>
                </button> 
                <button class="btn" id="camera_roll_button" title="Colorize image">
                    <span class="material-symbols-outlined" id="icon_camera_roll">
                        camera_roll
                        </span>
                </button> 
                </div>
            </div>
              <div class="middlepane">
                <div class="wrapmiddlepane">
                    {% if filename %}
                    <img id="image-canvas" name="image-canvas" src="{{ url_for('display_image',filename=filename )}}" >
                    {% endif %}
                </div>
                <script>
                    const wrapDiv = document.querySelector('.wrapmiddlepane');
                    wrapDiv.addEventListener('contextmenu', (event) => {
                      event.preventDefault();
                      alert('Right-click is disabled on this image.');
                    });
                  </script>
              </div>
              <div class="rightpane"> 
                <div class="rightdivider">
                    
                    <div class="rightpanetop">
                        <div class="wraprpttop">
                            <div class="wraprptttop">
                                <o>Histogram</o>
                            </div>
                            <div class="wraprptbtop">
                                <div class="histogramwraper">
                                    <canvas id="histogram-canvas"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>

                     <div class="rightpanemiddle">              
                        <div class="rpmtop">
                            <div class="wraprpmtop">
                                <div class="wraprpmtop3">
                                    <o>White-Balance</o>
                                </div>
                                    <div class="wraprpmtop4">
                                        <div class="wraprpmtop1">
                                            <m>Temp</m>
                                                <m>Tint</m>
                                        </div>
                                        <div class="wraprpmtop2">
                                            <div class="wraprpmtop6">
                                                <input type="range" id="TEMP" min="2000" max="50000" value="26000" class="slider" 
                                                    oninput="rangeValueTEMP.innerText = this.value" title="Tempeture" onchange="getTemp() ">
                                                        
                                                <input type="range"id="TINT" min="-150" max="150" value="0" class="slider" 
                                                    oninput="rangeValueTINT.innerText = this.value" title="Tint" onchange="getTint() ">
                                            </div>
                                            <div class="wraprpmtop5">
                                                <p id="rangeValueTEMP">26000</p>
                                                    <p id="rangeValueTINT">0</p>
                                            </div>

                                        </div>
                                    </div>
                            </div>
                        </div>


                        <div class="rpmmiddle">
                            <div class="wraprpmmiddle">
                                <div class="wraprpmmiddle1">
                                    <o>Tone</o>
                                </div>
                                    <div class="wraprpmmiddle2">
                                        <div class="wraprpmmiddle3">
                                            <div class="wraprpmmiddle8">
                                                <k>Exposure</k>
                                                    <k>Contrast</k>
                                                        <k>Highlights</k>
                                                        <k>Shadows</k>
                                                    <k>Whites</k>
                                                <k>Blacks</k>
                                            </div>
                                        </div>
                                            <div class="wraprpmmiddle4">
                                                <div class="wraprpmmiddle7">
                                                    <div class="wraprpmmiddle5">
                                                        <input type="range" min="-5.00" max="5.00" value="0" step="0.01" class="slider" 
                                                            id="EXPO"oninput="rangeValueEXPO.innerText = this.value" title="Exposure" onchange="getExposure()">
                                                            <form id="contrast-form"> 
                                                            <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                id="CONT" name="CONT" oninput="rangeValueCONT.innerText = this.value" title="Contrast" onchange="getContrast()">
                                                                </form>
                                                            <form id="highlight-form"> 
                                                                <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                    id="HIGH" name="HIGH"oninput="rangeValueHIGH.innerText = this.value" title="Highlights" onchange="getHighlight()">
                                                                    </form>    
                                                                <form id="shadow-form">    
                                                                    <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                        id="SHAD"oninput="rangeValueSHAD.innerText = this.value" title="Shadows" onchange="getShadow()" >
                                                                        </form>  
                                                                    <form id="white-form"> 
                                                                        <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                            id="WHITE"oninput="rangeValueWHITE.innerText = this.value" title="Whites" onchange="getWhite()">
                                                                            </form>  
                                                                        <form id="black-form"> 
                                                                            <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                                id="BLACK"oninput="rangeValueBLACK.innerText = this.value" title="Blacks" onchange="getBlack()">
                                                                            </form> 
                                                    </div>
                                                        <div class="wraprpmmiddle6">
                                                                <p id="rangeValueEXPO">0</p>    
                                                                <p id="rangeValueCONT">0</p>
                                                                <p id="rangeValueHIGH">0</p>
                                                                <p id="rangeValueSHAD">0</p>
                                                                <p id="rangeValueWHITE">0</p>
                                                                <p id="rangeValueBLACK">0</p> 

                                                        </div>
                                                </div>    
                                            </div>
                                    </div>
                            </div> 
                        </div>
                    
                        <div class="rpmbottom">
                            <div class="wraprpmbottom">
                                <div class="wraprpmbottom1">
                                    <o>Presence</o>
                                </div>
                                    <div class="wraprpmbottom2">
                                        <div class="wraprpmbottom3">
                                            <l>Texture</l>
                                                <l>Clarity</l>
                                                    <l>Dehaze</l>
                                                <l>Vibrance</l>
                                            <l>Saturation</l>
                                        </div>
                                            <div class="wraprpmbottom4">
                                                <div class="wraprpmbottom5">
                                                    <input type="range" min="-100" max="100" value="0" class="slider" 
                                                    id="TEXT"oninput="rangeValueTEXT.innerText = this.value" title="Texture" onchange="getText()">

                                                        <input type="range" min="-100" max="100" value="0" class="slider" 
                                                        id="CLAR"oninput="rangeValueCLAR.innerText = this.value" title="Clarity" onchange="getClar()">
                                                            
                                                    <input type="range" min="-100" max="100" value="0" class="slider" 
                                                        id="DEH"oninput="rangeValueDEH.innerText = this.value" title="Dehaze" onchange="getDeh()">
                                                                
                                                            <input type="range" min="-100" max="100" value="0" class="slider" 
                                                            id="VIR"oninput="rangeValueVIR.innerText = this.value" title="Vibrance" onchange="getVir()">
                                                                
                                                                <input type="range" min="-100" max="100" value="0" class="slider" 
                                                                id="SAT"oninput="rangeValueSAT.innerText = this.value" title="Saturation" onchange="getSat()">              
                                                </div>
                                                    <div class="wraprpmbottom6">
                                                        <p id="rangeValueTEXT">0</p>
                                                        <p id="rangeValueCLAR">0</p>
                                                        <p id="rangeValueDEH">0</p> 
                                                        <p id="rangeValueVIR">0</p> 
                                                        <p id="rangeValueSAT">0</p>
                                                    </div>
                                                    
                                            </div>
                                    </div>
                            </div>
                        </div>

                        </div>
                    
                    <div class="rightpanebottom">
                        <div class="rpbtop">
                            <div class="wraprpbtop">
                                <div class="wraprpbtop3">
                                    <o>Font</o>
                                </div>
                                <div class="wraprpbtop1">
                            
                                    <select id="font-selector" title="Font Selector">
                                        <option value="Arial" id="arial" >Arial</option>
                                            <option value="Helvetica" id="helvetica">Helvetica</option>
                                                <option value="Times New Roman" id="TNR">Times New Roman</option>
                                                    <option value="Courier New" id="CN">Courier New</option>
                                                        <option value="Verdana" id="verdana">Verdana</option>
                                                            <option value="Georgia" id="georgia">Georgia</option>
                                                                <option value="Palatino" id="palation">Palatino</option>
                                                                    <option value="Garamond" id="garamond">Garamond</option>
                                                                        <option value="Bookman" id="bookman">Bookman</option>
                                                                            <option value="Comic Sans MS" id="CSMS">Comic Sans MS</option>
                                                                        <option value="Impact" id="impact" >Impact</option>
                                                                    <option value="Lucida Sans Unicode" id="LSU">Lucida Sans Unicode</option>
                                                                <option value="Tahoma" id="tahoma">Tahoma</option>
                                                            <option value="Trebuchet MS" id="TMS">Trebuchet MS</option>
                                                        <option value="Century Gothic" id="CG">Century Gothic</option>
                                                    <option value="Consolas" id="consolas">Consolas</option>
                                                <option value="Calibri" id="calibri">Calibri</option>
                                            <option value="Cambria" id="cambria">Cambria</option>
                                        <option value="Franklin Gothic Medium" id="FGM">Franklin Gothic Medium</option>
                                    <option value="Segoe UI" id="SUI">Segoe UI</option>
                                    </select>
                                </div>
                                    <div class="wraprpbtop2">
            
                                        <select id="font-type-selector" title="Font Type Selector">
                                            <option value="Normal" id="Normal">Normal</option>
                                                <option value="Bold" id="Bold">Bold</option>
                                            <option value="Italic" id="Italic">italic</option>
                                        </select>
                                    </div>
                            </div>
                        </div>

                        <div class="rpbmiddle">
                            <div class="wraprpbmiddle">
                                <div class="wraprpbmiddle1">
                                        <div class="wraprpbmiddle2">
                                            <div class="wraprpbmiddle19">
                                                <div class="wraprpbniddle4">
                                                    <input type="number" id="text-size" name="text-size" min="2" max="128" step="2" value="12"title="Font Size">
                                                </div>
                                                    <div class="wraprpbmiddle5">
                                                        <span class="material-symbols-outlined" id="icon-format_size" >
                                                            format_size
                                                            </span>
                                                    </div>
                                            </div>
                                        </div>
                                            <div class="wraprpbmiddle3">
                                                <div class="wraprpbmiddle20">
                                                    <div class="wraprpbmiddle6">
                                                        <input type="number" id="text-upper-space" name="text-upper-space" min="14" max="128" step="2" value="14" title="Text Upper Spacing">
                                                    </div>
                                                        <div class="wraprpbmiddle7">
                                                            <span class="material-symbols-outlined">
                                                                format_line_spacing
                                                                </span>
                                                        </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="wraprpbmiddle11">
                                    <div class="wraprpbmiddle12">
                                        <div class="wraprpbmiddle16">
                                            <input type="number" id="text-left-right-space" name="text-left-right-space" min="0" max="128" step="2" value="0" title="Word Spacing">
                                        </div>
                                            <div class="wraprpbmiddle17">
                                                <span class="material-symbols-outlined">
                                                    align_justify_space_between
                                                    </span>
                                            </div>
                                    </div>
                                        <div class="wraprpbmiddle13">
                                            <div class="wraprpbmiddle14">
                                                <input type="number" id="text-wrap" name="text-wrap" min="0" max="512" step="2" value="0" title="Single Word Spacing">
                                            </div>
                                            <div class="wraprpbmiddle18">
                                                <span class="material-symbols-outlined">
                                                view_headline
                                                </span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="rpbbottom">
                            <div class="wrapbbottom">
                                <div class="wrapbbottomup">
                                    <div class="wrapbbottominsidea">
                                        <div class="wrapbbottominside1a">
                                                <div class="wrapbbottomtexta">
                                                    <input type="number" id="text-height" name="text-height" min="2" max="512" step="2" value="2">
                                                </div>
                                                    <div class="wrapbbottomicona">
                                                        <span class="material-symbols-outlined">
                                                            vertical_distribute
                                                            </span>
                                                    </div>
                                        </div>
                                   </div>
                                    <div class="wrapbbottominsideb">
                                        <div class="wrapbbottominside2b">
                                            <div class="wrapbbottomtextb">
                                                <input type="number" id="text-width" name="text-width" min="2" max="512" step="2"  value="2">
                                            </div>
                                            <div class="wrapbbottomiconb">
                                                <span class="material-symbols-outlined">
                                                    horizontal_distribute
                                                    </span>
                                                </div>
                                        </div>
                                    </div>  
                            </div>
                                <div class="wrapbbottomdown">
                                    <div class="wrapbbottomdowninside">
                                        <div class="wrapbbottomdowntext1">
                                            <input type="number" id="text-margin" name="text-margin" min="0" max="512" step="2" value="2">
                                        </div>
                                            <div class="wrapbbottondownicon1">
                                                <span class="material-symbols-outlined">
                                                    format_line_spacing
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="wrapbbottondowninside2">
                                        <div class="wrapbbottomdowntext2">
                                            <input type="number" id="text-rotation" name="text-rotation" min="0" max="360" step="2"  value="4">
                                        </div>
                                            <div class="wrapbbottondownicon2">
                                                <span class="material-symbols-outlined" id="icon-text-rotation-rotation">
                                                    rotate_right
                                                    </span>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>


                </div>
            </div>

                </div>
            </div>
          </div>
          <script 
                src="{{url_for('static', filename='styles/slider.js')}}">
          </script>
          <!--<script src="slider.js"></script>-->
          <script>
            // get the filename from the "src" attribute of the "image-canvas" element on first 
            // page load so the user if uploaded image and did nothing to it and presses download it will get the original image 
            const imgSrc = document.getElementById('image-canvas').src;
            const imgName = imgSrc.substring(imgSrc.lastIndexOf('/') + 1);
            console.log(imgName)
            // set the value of the hidden input field to the filename
            document.getElementById('image_name').value = imgName;
        </script>
          
    </body>
    <footer>
        <div class=" footer">
            <p class="translate">The content of this site is copyright-protected and is the property of NoT PHOTOSHOP, business concept 
                is to offer image editor free of charge. Not Photoshop has since it was founded in 2022 in istanbul as project for 4th 
                year student of computer engineering department at byekoz university.<br><br>
                
                <h style="text-decoration:none" href="https://github.com/yousefturin">
                    <img src="/static/images/github.png" alt="buttonpng" id="img_github" style="width: 20px; height: 20px;">
                </h>
                        <h style="text-decoration:none" href="https://www.linkedin.com/in/yusef-rayyan-b82420199/">
                            <img src="/static/images/linkedin.png"  alt="buttonpng" id="img_linkedin" style="width: 20px; height: 20px;">
                        </h>
                                <h style="text-decoration:none" href="https://www.instagram.com/yusefturin/">
                                    <img src="/static/images/instagram.png"  alt="buttonpng" id="img_instaram" style="width: 20px; height: 20px;">
                                </h>
                            
                        <br><br>
              Turkey | <h style="text-decoration:none;font-weight: bold;" href="mailto:muradrayyan@ogrenci.beykoz.edu.tr">contact@Scalorbost.com</h></p>

        </div>
    
      </footer>

</html>
